.container {
    width:1000px;
    
   
}

header {
    background-color: white;
    
}
section {
    
    background-color: white;
    
}
body {
    background-color: white;
}

header .container {
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
}



#content {
    margin-top:100px;
    display: flex;
    justify-content: space-around;
}

#content p {
    padding:40px;
    border: 1px solid white;
    background-color: rgba(79, 38, 6, 0.37);
    color: black;
    font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}

section .container {
    width: 1200px;
}



.img-fluid {
    width:43%;
    border-radius: 50%;
    height:auto;
    
}

 .massage1 {
    display: flex;
    align-items: center;
    margin-bottom: 10em;
    
     
    font-size:12px;
}

.massage2 {
    display: flex;
    align-items: center;
    margin-bottom: 4em;
    flex-direction: row-reverse;
    
    font-size:12px;
}



section .massage1 p {
    font-size:2em;
    margin-right:50px;
   
}

section .massage2 p {
    font-size:2em;
    margin-left:70px;
   
}

section .massage2 h3 {
    margin-top: 100px;
    
}
 .massage1 span {
    margin-bottom: 30px;
    display: inline-block;
    font-weight: 800;
 }

 .massage2 span {
    margin-bottom: 30px;
    display: inline-block;
    font-weight: 800;
 }






section h1 {
    font-size: 65px;    
    margin-bottom: 1em;
    text-align: center;
    font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
}



button {
    margin-bottom: 20px;
}




#accordion-exaple {
    margin-top: 20px;
}

.accordion-item p {
    font-size: 2em;
    font-weight: 500;
}




  .flexni {
    display:flex;

  }

  #services-description {
    font-size: 1.5em;
    font-weight: 400;
  }

 

  .pozadie {
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6em;
    background-color: rgb(55 156 85 / 69%);
  
    
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    
    
    
}

.pozadie h1{

padding: 2em;

font-size: 5rem;
}
  
nav ul {
    display: flex;
    list-style: none;
}


#services {
    font-size: 6em;
    margin: 1em 0em 1em 0em;
}

.btn-outline-success {
    
    height: 3em;
    width: 8em;
    font-size:2em;
    margin:1em 10px 2em 10px;
    

}

.home-nadpis {
    font-size: 6em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.home-paragraph {
    margin-bottom: 5em;
}

.reservation-heading {
    font-size:6em;
    margin: 1em 0em 0.5em 0em ;
}

#reservation-booking-message {
    font-size:3em;
    margin-bottom: 1.5em;
    font-style: italic;
}

#reservation-telephone-icon{
    margin-right: 20px;
}

#reservation-mail-icon{
    margin-right: 20px;
}

#services-euro-icon {
    font-size: 0.9em;
    margin-left: 5px;
   
}

#reservation-form-icon {
    margin-right: 20px;
}

.reservation-last-paragraph{
    margin-bottom: 3em;
}

.reservation-forms {
    display:flex;
    flex-direction: column;
}

.reservation-forms input {
    height: 4em;
    margin-bottom: 1em;
}
.reservation-forms input::placeholder{
    font-size: 2em;
}

.reservation-ending-message {
    margin-top: 1em;
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: rgb(55 156 85 / 69%);
    padding: 4em 0 4em 0;
    align-items: flex-start;
    margin-top: 6em;
}

footer ul {
    list-style: none;
}

.footer-opening-hours {
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.footer-contact { 
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.footer-contact ul {
    display: flex;
    flex-direction: column;
    align-items: center;

}



.footer-menu {
    display: flex; 
    flex-direction: column;
    align-items: center;
}

#contact-heading{
        font-size:6em;
        margin: 1em 0em 2em 0em ;
        font-weight: 500;
    }
    
.contact-page {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10em;
}

.contact-page p {
    font-size: 2em;
    margin:10px;
}

.address{
display: flex;
flex-direction: column;
}

.address a {
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.516);
    font-size: 2em;
    
}

.contact-page h3 {
    font-size: 4em;
    margin-bottom: 0.5em;
}

.contact-page h2 {
    font-size: 5em;
}

.contact-page p {
    margin:0;
}

.opening-hours {
    display:flex;
    flex-direction: column;
}
.contact-page table {
    font-size: 1.5em;
    display: flex;
    justify-content: center;
}

.container-full-width
{
    width: 100%;

}